$white: #FFFFFF;
$yellow: #F8CF27;
$yellow1: #5E4B00;
$yellow2: #A88701;

$green: #2DC156;
$grey: #D2D2D2;
$gray1: #252525;
$gray2: #AFAFAF;
$black: #000000;



$button-font-size: 1.125rem;
$button-font-weight: 600;
$button-padding: 1rem 2rem 1rem 2rem;
$button-radius: 1rem;
